<h1>Hola!</h1>

<% (1..50).each do |i| %>

  <div class="">
    <%if i%2 == 1 %>
    <div><%=i%> Soy Par!</div>
    <%end%>
  </div>
  <div class="">
    <%if i%2 == 0 %>
    <div><%=i%> Soy Impar!</div>
    <%end%>
  </div>

<%end%>
